<%= link_to_function('Create New HEADline', :id => "headline_form_toggle") do |page|
     page.visual_effect :toggle_slide, 'new_headline', :duration => 0.5
     page << "$('headline_form_toggle').innerHTML = 
       ($('headline_form_toggle').innerHTML == 'Create New HEADline' ? 'Hide Create HEADline Form' : 'Create New HEADline');"
   end %>
<% form_for(Headline.new, :html => {:style => 'display:none;'}) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td><%= f.label :title %></td>
      <td><%= f.text_field :title, :maxlength => 15 %></td>
    </tr>
    <tr>
      <td><%= f.label :post %></td>
      <td><%= f.text_area :post, :rows => 6 %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= check_box_tag :email_users, "1", true %> Send email notification of this HEADline</td>
    </tr>
    <tr>
      <td></td><td><%= f.submit 'Create' %></td>
    </tr>
  </table>
<% end %>
