<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Kitsap Haunted Fairgrounds - <%= @title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "swfobject" %>
  <%= javascript_include_tag "effects" %>
  <%= javascript_include_tag "dragdrop" %>
  <%= javascript_include_tag "controls" %>
  <%= javascript_include_tag "khf" %>
  <!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ie6bad.css"> 
    <script defer type="text/javascript" src="/javascripts/pngfix.js"></script>
  <![endif]-->

  <% if Rails.env == 'production' %>
    <% javascript_tag do %>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18399182-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    <% end %>
  <% end %>
</head>
<body>
  <div id="doc">
  <%= render :partial => 'layouts/khf_header' %>
  <%= flash_helper %>

  <%= yield %>

  <%= render :partial => 'layouts/khf_footer' %> 
  </div>
  <div id="floor_zombie">&nbsp;</div>
</body>
</html>
